<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">

    

    <script src="https://kit.fontawesome.com/e638c2695f.js" crossorigin="anonymous"></script>

    <link href="/css/styles.css" rel="stylesheet">

</head>







<body>

    <header class="main-header">



        <div class="main-header-top-bar">

            <a href="/"><img src="/images/logo-mercado-liebre.svg" class ="logo" alt="logo"></a>

                  <div class="barra"> <input type="text" class="barra-busqueda" placeholder =" buscar productos, marcas...">
                
                <i class="fa-solid fa-magnifying-glass lupa"></i> </div> 
                

                <h2 class="copy-header"><i class="fa fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito</h2>


                
        </div>

        
        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>

        <nav class="main-navbar">

           <ul class="left-navbar">
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
           </ul>

           <ul class="right-navbar">
               <li><a href="/register">Creá tu cuenta</a><i class="fa fa-solid fa-address-card"></i></li> 
               <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li> 
               <li><a href="">Mis compras</a><i class="fa fa-solid fa-basket-shopping"></i></li>
  
            </ul>


        </nav>




        

</header>






    <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
    
    





    <main>
          <h2>Basado en tu última visita</h2>
          <section class="productos">

                  


                  <article class="articulos">

                      <img class ="imagenes" src="/images/img-cafetera-moulinex.jpg" alt="logo">

                      <hr>


                      <div class="iconos-precios"><i class="fa-solid fa-truck"></i></div>



                    <div class="precios">

                            <p class="tamaño-numeros">$6.700</p>
                            <p class="tamaño-descuentos">40% OFF</p>

                
                    </div>
                
                      


                      <div class="ocultar"><p class="tamaño-descripcion"> Cafetera Moulinex</p></div>
                    
                    </div>


                  </article> 

                 <article class="articulos">

                     <img class ="imagenes"src="/images/img-macbook-pro-2019.jpg" alt="logo">

                     <hr>

                     <div class="iconos-precios"><i class="fa-solid fa-truck"></i> </div>

                     <div class="precios">

                
                     <p class="tamaño-numeros">$230.000</p>
                     <p class="tamaño-descuentos">20% OFF</p>

                    </div>
                     <div class="ocultar"><p class="tamaño-descripcion">MacBook Pro 2019</p></div></div>


                </article>
            

                  <article class="articulos">

                   <img class ="imagenes"src="/images/img-samsung-galaxy-s10.jpg" alt="logo">

                   <hr>

                   <div class="iconos-precios"><i class="fa-solid fa-truck"></i> </div>

                    <div class="precios">
                
                   <p class="tamaño-numeros">$70.500</p>
                   <p class="tamaño-descuentos">10% OFF</p>
                   </div>
                   <div class="ocultar"><p class="tamaño-descripcion">Samsung Galaxy S10</p></div></div>


                </article>

                <article class="articulos" >

                 <img class ="imagenes"src="/images/img-tv-samsung-smart.jpg" alt="logo">

                 <hr>

                 <div class="iconos-precios"><i class="fa-solid fa-truck"></i> </div>

                    <div class="precios">
                
                  <p class="tamaño-numeros">$23.200</p>
                  <p class="tamaño-descuentos">5% OFF</p>

                  </div>
                  <div class="ocultar"><p class="tamaño-descripcion">SmartTv Samsung 43"</p></div>
                
                </div>


                 </article>

        

         </section>
         
         <h2>Sección de oferta</h2>

         <section class="productos"> 

            

            <article  class="articulos">

                <img class ="imagenes"src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">

                <hr>

                <div class="iconos-precios"><i class="fa-solid fa-truck"></i> </div>
                
                <div class="precios">


                <p class="tamaño-numeros">$6.700</p>
                <p class="tamaño-descuentos">40% OFF</p></div>


                <div class="ocultar"> <p class="tamaño-descripcion">Cafetera Moulinex</p> </div>
            
            </div>


            </article>

            <article  class="articulos">

                <img class ="imagenes"src="/images/img-macbook-pro-2019.jpg" alt="logo">

                <hr>

                <div class="iconos-precios"><i class="fa-solid fa-truck"></i></div>
                <div class="precios">
                <p class="tamaño-numeros">$230.000</p>
                <p class="tamaño-descuentos">20% OFF</p></div>


                <div class="ocultar"><p class="tamaño-descripcion">MacBook Pro 2019</p></div></div>


            </article>

            <article  class="articulos">

                <img class ="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="logo">

                <hr>

                <div class="iconos-precios"><i class="fa-solid fa-truck"></i></div>

                <div class="precios">
                
                <p class="tamaño-numeros">$70.500</p>
                <p class="tamaño-descuentos">10% OFF</p></div>


                <div class="ocultar"> <p class="tamaño-descripcion">Samsung Galaxy S10</p></div>
            
            </div>


            </article>

            <article  class="articulos">

                
                <img class ="imagenes"src="/images/img-tv-samsung-smart.jpg" alt="logo">

                <hr>

                <div class="iconos-precios"><i class="fa-solid fa-truck"></i></div>

                <div class="precios">
                
                <p class="tamaño-numeros">$23.200</p>
                <p class="tamaño-descuentos">5% OFF</p></div>


                <div class="ocultar"><p class="tamaño-descripcion">SmartTv Samsung 43"</p></div>
            </div>


            </article>

        </section>



    </main>

    <footer>

            <section class="columna-footer">

                     <article class="item-footer">
                     <div class="tamaño-icono"> <i class="fa-solid fa-credit-card"> </i> </div>
                
                
                    <h1>Pagá con tarjeta o en efectivo</h1>

                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

                    </article>

                   <article class="item-footer">

                   <div class="tamaño-icono"><i class="fa-solid fa-gift"></i> </div>
                   <h1>Envío gratis desde $ 2.500</h1>

                   <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                
                   </article>

                   <article class="item-footer">
                   <div class="tamaño-icono"><i class="fa-solid fa-user-shield"></i></div>
                   <h1>Seguridad, de principio a fin</h1>

                   <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                   </article>

                  <article class="item-footer">
                  <p class="legal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                  </article>

        </section>



    </footer>
    


    



  


</body>
</html>