<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e638c2695f.js" crossorigin="anonymous"></script>

    <link href="/css/styles-registro-login.css" rel="stylesheet">


</head>
<body>

    <header class="main-header">



        <div class="main-header-top-bar">

            <a href="/"><img src="/images/logo-mercado-liebre.svg" class ="logo" alt="logo"></a>

                  <div class="barra"><input type="text" class="barra-busqueda" placeholder=" buscar productos, marcas">
                
                <i class="fa-solid fa-magnifying-glass lupa" ></i> </div> 
                

                <h2 class="copy-header"><i class="fa fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito</h2>


                
        </div>

        
        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>

        <nav class="main-navbar">

           <ul class="left-navbar">
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
           </ul>

           <ul class="right-navbar">
               <li><a href="/register">Creá tu cuenta</a><i class="fa fa-solid fa-address-card"></i></li> 
               <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li> 
               <li><a href="">Mis compras</a><i class="fa fa-solid fa-basket-shopping"></i></li>
  
            </ul>


        </nav>

</header>


<main>

    
    <form action="/" method="post" class="formulario-registro"> 


      <div class="item-form">
        <label for="usuario">Nombre de usuario:</label><br>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario"><br></div>
        
        <div class="item-form">
        <label for="password">contraseña:</label><br>
        <input type="password" name="password" id="password" placeholder="contraseña"><br></div>
        

       <div class="item-boton">
            <a href="/" class="vinculo-sin-decorar">
                <button type="button" class="enviar">enviar</button>
    
            </a>  

       </div>

    </form>



</main>













<footer>

            <section class="columna-footer">

                     <article class="item-footer">
                     <div class="tamaño-icono"> <i class="fa-solid fa-credit-card"> </i> </div>
                
                
                    <h1>Pagá con tarjeta o en efectivo</h1>

                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

                    </article>

                   <article class="item-footer">

                   <div class="tamaño-icono"><i class="fa-solid fa-gift"></i> </div>
                   <h1>Envío gratis desde $ 2.500</h1>

                   <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                
                   </article>

                   <article class="item-footer">
                   <div class="tamaño-icono"><i class="fa-solid fa-user-shield"></i></div>
                   <h1>Seguridad, de principio a fin</h1>

                   <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                   </article>

                  <article class="item-footer">
                  <p class="legal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                  </article>

        </section>



    </footer>



</body>
</html>