<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e638c2695f.js" crossorigin="anonymous"></script>

    <link href="/css/styles-registro-login.css" rel="stylesheet">


</head>
<body>

    <header class="main-header">



        <div class="main-header-top-bar">

                  <img src="/images/logo-mercado-liebre.svg" class ="logo" alt="logo">

                  <div class="barra"><input type="text" class="barra-busqueda" placeholder=" buscar productos, marcas">
                
                <i class="fa-solid fa-magnifying-glass lupa" ></i> </div> 
                

                <h2 class="copy-header"><i class="fa fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito</h2>


                
        </div>

        
        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>

        <nav class="main-navbar">

           <ul class="left-navbar">
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
           </ul>

           <ul class="right-navbar">
               <li><a href="/register">Creá tu cuenta</a><i class="fa fa-solid fa-address-card"></i></li> 
               <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li> 
               <li><a href="">Mis compras</a><i class="fa fa-solid fa-basket-shopping"></i></li>
  
            </ul>


        </nav>

</header>


<main>
    <form action="/" method="post" class="formulario-registro"> 


      <div class="item-form">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" id="nombre" required minlength="2" maxlength="15"/><br></div>
        <div class="item-form">
        <label for="apellido">Apellido:</label><br>
        <input type="text" name="apellido" id="apellido" required minlength="2" maxlength="15"/><br></div>
        <div class="item-form">
        <label for="nombre-usuario">Nombre de usuario:</label><br>
        <input type="text" name="nombre-usuario" id="nombre-usuario" required minlength="2" maxlength="15"/><br></div>
        <div class="item-form">
        <label for="password">contraseña:</label><br>
        <input type="password" name="password" id="password" required/><br></div>
        <div class="item-form">
        <label for="check-password">confirmá tu contraseña:</label><br>
        <input type="password" name="check-password" id="check-password" required/><br></div>
        <div class="item-form">
        <label for="domicilio">Domicilio:</label><br>
        <input type="text" name="domicilio" id="domicilio" required/><br></div>
        <div class="item-form">
        <label for="fecha-nac">Fecha de nacimiento:</label><br>
        <input type="date" name="fecha-nac" value="2022-03-16" min="1920-01-01" max="2004-03-16" required/><br></div>

        
        <div class="item-form">
        <label for="compra-vende">¿Quieres comprar o vender?</label><br> </div>

        <div class="item-form-radio">

        <label for="compra">comprar</label>
        
        <input type="radio" name="compra" value="comprar">



        </div>

        <div class="item-form-radio">
        <label for="vende">vender</label>
        <input type="radio" name="vende" value="vender"><br></div>


     <div class="item-form">
       <label for="interes">Categorías de interés:</label><br></div>

       <div class="item-form-radio">
       <label for="electro">electro</label>
       <input type="checkbox" name="electro" value="electro"><br></div>
       <div class="item-form-radio">
       <label for="moda">moda</label>
       <input type="checkbox" name="moda" value="moda"><br></div>
       <div class="item-form-radio">
       <label for="hogar">hogar</label>
       <input type="checkbox" name="hogar" value="hogar"><br></div>
       <div class="item-form-radio">
       <label for="jugueteria">jugueteria</label>
       <input type="checkbox" name="jugueteria" value="jugueteria"><br></div>
       <div class="item-form-radio">
       <label for="vida-sana">vida sana</label>
       <input type="checkbox" name="vida-sana" value="vida-sana"><br></div>
       <div class="item-form">
       <label for="">Subí tu foto de usuario</label><br>
       <input type="file"><br></div>
       
       
       
       

       <div class="item-boton">
        <a href="/" class="vinculo-sin-decorar">
            <button type="button" class="enviar">enviar</button>
       <button type="reset"> borrar</button></div>

    </form>


</main>













<footer>

            <section class="columna-footer">

                     <article class="item-footer">
                     <div class="tamaño-icono"> <i class="fa-solid fa-credit-card"> </i> </div>
                
                
                    <h1>Pagá con tarjeta o en efectivo</h1>

                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

                    </article>

                   <article class="item-footer">

                   <div class="tamaño-icono"><i class="fa-solid fa-gift"></i> </div>
                   <h1>Envío gratis desde $ 2.500</h1>

                   <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                
                   </article>

                   <article class="item-footer">
                   <div class="tamaño-icono"><i class="fa-solid fa-user-shield"></i></div>
                   <h1>Seguridad, de principio a fin</h1>

                   <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                   </article>

                  <article class="item-footer">
                  <p class="legal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                  </article>

        </section>



    </footer>



</body>
</html>